<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | CG</title>
    <link rel="stylesheet" href="css/layout.css" asp-append-version="true"/>
    <link rel="stylesheet" href="css/general.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>

<body>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-sm-3">
            <img class="menu-icon" src="images/logo.png" alt="Menu Icon" onclick="openNav()"/>
            <div id="mySidenav" class="sidenav">
              <img class="menu-icon" src="images/logo.png" alt="Menu Icon" onclick="closeNav()"/>
              <a id="menu-fractal" asp-page="Fractal" class="btn button-primary width-240">Fractal</a>
              <a id="menu-colors" asp-page="ColorSchemes" class="btn button-primary width-240">Color Schemes</a>
              <a id="menu-quadrilateral" asp-page="Quadrilateral" class="btn button-primary width-240">Quadrileteral</a>
              <a href="#" class="btn button-secondary">About</a>
              <a href="#" class="btn button-secondary">Source Code</a>
              <a href="#" class="btn button-secondary">Contributors</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row align-content-center h-100">
                <div class="col workplace h-75">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <a asp-page="Welcome" class="btn button-secondary w-100">Welcome Page</a>
        </div>
    </div>
</div>

<footer class="footer text-white">&copy; computergraphics.com 2022</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "300px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>