input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
    height: 100%;
}

body {
    background-color: #1E1E1E !important;
    height: 100%;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.button-primary {
    background: #30D98D !important;
    margin-bottom: 10px;
    margin-top: 10px;
    border: thin solid #000000 !important;
}

.button-secondary {
    background: #86E9BD !important;
    margin-bottom: 10px;
    margin-top: 10px;
    border: thin solid #000000 !important;
}

.input-secondary {
    text-align: center;
    background: #86E9BD !important;
    border-radius: 10px;
    border: thin solid #000000 !important;
}

.bg-beige {
    background-color: #B5B5B5;
}

.bg-round {
    border-radius: 10px;
}

.width-240 {
    width: 240px;
}

.width-120 {
    width: 120px;
}

.width-50 {
    width: 50px;
}

.width-10 {
    width: 10px;
}