@page
@model WebApp.Pages.Home

<link rel="stylesheet" href="css/home.css" asp-append-version="true"/>

<div class="row h-100 align-content-center">
    <div class="col">
        <div class="d-flex justify-content-center">
            <img id="notepad-logo" src="images/notepad.png" alt="Notepad Logo"/>
        </div>
        <div class="d-flex flex-column align-items-center mt-3">
            <p class="bg-beige rounded-3 p-1 w-50">This is your workplace</p>
            <p class="bg-beige rounded-3 p-1 w-50">Open menu to explore computer graphics!</p>
        </div>
    </div>
</div>